/* activities.css */

.activities-container {
    display: block; /* Display as block to stack items vertically */
    margin: 20px auto;
    width: 60%;
}
  
.activity-card {
    width: 80%; /* Set width to 80% of the screen width */
    max-width: 600px; /* Set a maximum width to prevent it from stretching too much on larger screens */
    background-color: #3d7bba;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Center align the activity cards */
    padding: 20px;
    text-align: center;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center align vertically */
    border: 1px solid #ddd; /* Add border */
    overflow: hidden; /* Hide any overflowing content */
}



.activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.activity-card h2 {
    margin-top: 20px;
}

.activity-card p {
    margin-bottom: 20px;
}

.activity-card a {
    display: block;
    color: #333;
    text-decoration: none;
    background-color: #f39c12;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.activity-card a:hover {
    background-color: #e58e0c;
}

